html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
  display: block;
}
a:focus {
	outline: none;
}

/* CSS TOOLS ///////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#fixed-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gutter {
  position: absolute;
  width: calc(var(--gw) * 1px);
  height: calc(var(--gh) * 1px);
}

.vg {
  display: var(--vg);

}

.hg {
  display: var(--hg);
}

.gutter-top {
  top: 0;
}

.gutter-right {
  right: 0;
}

.gutter-bottom {
  bottom: 0;
}

.gutter-left {
  left: 0;
}

#msc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.vp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: calc(var(--w) * 1px);
  height: calc(var(--h) * 1px);
}

.abs {
  position: absolute;
}

@media only screen and (orientation: landscape) {
  .mobile {
    display: none;
  }
}

/* CONTENT //////////////////////////////////////////////////// */
/* ANIMATIONS -------------------------------------------- */
@keyframes dim1 {
  0% {
    opacity: 0;
    filter: hue-rotate(40deg) brightness(500%);
  }
  30% {
    opacity: 1;
    filter: hue-rotate(40deg) brightness(500%);
  }
  100% {
    opacity: 1;
    filter: hue-rotate(40deg) brightness(50%);
  }
}
@keyframes fade-in {from{opacity: 0;} to{opacity:1;}}

/* BACKGROUNDS ---------------------------------------------- */

#fixed-layer {
  background-size: cover;
  filter: hue-rotate(40deg) brightness(50%);
  /* opacity: 0;
  animation: dim1 10s ease-out forwards; */
}

#header-background {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  top: 25%;
  height: 75%;
  background-size: 67%;
  /* opacity: 0; 
  animation: fade-in 3s 2s ease-in forwards; */
}

#background1 {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-size: 110%;
  background-position: 100% 100%;
}
@media only screen and (max-width: 600px) {
  #fixed-layer {
    background-image: url("./assets/backgrounds/contact-bkg2-small.jpg");
  }
  
  #header-background {
    background-image: url("./assets/backgrounds/contact-header-bkg-small.jpg");
  }
  
  main {
    background-image: url("assets/backgrounds/contact-bkg1-small.jpg");
  }
  
  #background1 {
    background-image: url("./assets/backgrounds/contact-bkg2-small.jpg");
  }   
}
@media only screen and (min-width: 601px) and (max-width:1920px) {
  #fixed-layer {
    background-image: url("./assets/backgrounds/contact-bkg2-medium.jpg");
  }
  
  #header-background {
    background-image: url("./assets/backgrounds/contact-header-bkg-medium.jpg");
  }
  
  main {
    background-image: url("assets/backgrounds/contact-bkg1-medium.jpg");
  }
  
  #background1 {
    background-image: url("./assets/backgrounds/contact-bkg2-medium.jpg");
  }  
}

@media only screen and (min-width: 1921px) { 
  #header-background {
    background-image: url("./assets/backgrounds/contact-header-bkg-large.jpg");
  }
  #fixed-layer {
    background-image: url("./assets/backgrounds/contact-bkg2-large.jpg");
  }
  main {
    background-image: url("assets/backgrounds/contact-bkg1-large.jpg");
  }
  #background1 {
    background-image: url("./assets/backgrounds/contact-bkg2-medium.jpg");
  }  
}

/* SITE HEADER -------------------------------------------- */
header {
  width: 100%;
  height: 25%;
  /* opacity: 0;
  animation: fade-in 3s 2s ease-in forwards; */
}

#home-link {
  width: 100%;
  height: 100%;
  background-image: url("./assets/logos/tara-logo-text-small.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: -20% 50%;
  transition-property: background-color, background-size;
  transition-duration: 2s;
  transition-timing-function: ease-out; 
}

#home-link:focus, #home-link:hover {
  background-color: hsl(20, 100%, 50%);
  background-size: 77%;
}

#rec1 {
  background-color: hsla(0, 100%, 50%, 0.5);
  width: 100%;
  height: 60%;
  top: 20%;
}

/* NAVIGATION MENU --------------------------------- */
nav {
  width: 35%;
  left: 65%;
  height: 100%;
  border-left: calc(var(--wpx)/50) solid hsla(50, 100%, 60%, 0.5);
}

nav ul {
  top: 20%;
  width: 100%;
  height: 60%;
}

nav li {
  width: 100%;
}

#li1 {
  height: 55%;
}

#li2 {
  height: 45%;
}

nav a {
  font-family: "Bellota Text", cursive;
  font-size: calc(var(--wpx)/25);
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: hsl(50, 100%, 75%);
  letter-spacing: calc(var(--wpx)/100);
  line-height: 1.2;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-property: color;
}

nav a:hover, nav a:focus {
  color: black;
  background-image: linear-gradient( 
    90deg,
    hsl(30, 100%, 60%), 
    hsla(0, 0%, 0%, 0) 
  );
  font-weight: 700;
}


/* PARAGRAPHS ----------------------------------------------- */
p {
  color: hsl(50, 100%, 95%);
  font-weight: 300;
  letter-spacing: calc(var(--wpx)/200);
  line-height: 1.4;
  /* opacity:0; */
}

#p1, #p2 {
  font-size: calc(var(--wpx)/16);
  font-family: "Josefin Slab", sans-serif;
}

#p1 {
  left: 8%;
  top: 15%;
  /* animation: fade-in 2s 5s ease-in forwards; */
}

#p2 {
  top: 46%;
  left: 8%;
  /* animation: fade-in 2s 7s ease-in forwards; */
}

#page-down-link {
  position: absolute;
  top: 85%;
  color: hsl(50, 100%, 95%);
  font-family: "Josefin Slab", sans-serif;
  font-size: calc(var(--wpx)/16);
  left: 33%;
  height: 12%;
}

#page-down-link svg {
  position: absolute;
  height: 60%;
  width: 100%;
}

/* LEAF 2 ///////////////////////////////////////////////////// */
#leaf1 {
  display: none;
}

#leaf2 {
  color: hsl(50, 100%, 95%);
  font-size: calc(var(--wpx)/30);
}

.ur {
  background-color: hsla(0, 0%, 0%, 0.5)
}

img {
  width:45%;
  object-fit: contain;
}

#name {
  left: 47%;
  top: 10%;
  font-size: calc(var(--wpx)/16);
  font-family: "Josefin Slab", sans-serif;

}

#title {
  left: 48%;
  top: 15%;
  font-size: calc(var(--wpx)/28);
  font-family: "Josefin Slab", sans-serif;
}

#contact-section, #finance-section, #qualifications-section {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(var(--wpx)/30);
  font-family: "Montserrat", sans-serif;
}

em {
  font-weight: bold;
}

#contact-section {
  top: 31.5%;
  height: 20%;
  font-size: calc(var(--wpx)/24);
  font-family: "Josefin Slab", sans-serif;
}

#finance-section {
  border-top: calc(var(--wpx)/400) solid white;
  border-bottom: calc(var(--wpx)/400) solid white;
  top: 51%;
  height: 20%;
}

#qualifications-section {
  top: 70%;
  height: 30%;
}

/* LANDSCAPE /////////////////////////////////////////////////// */

@media only screen and (orientation: landscape) {
  @media only screen and (max-width: 600px) {
    #fixed-layer {
      background-image: url("./assets/backgrounds/contact-bkg3-small.jpg");
    } 
  }
  @media only screen and (min-width: 601px) and (max-width:1920px) {
    #fixed-layer {
      background-image: url("./assets/backgrounds/contact-bkg3-medium.jpg");
    } 
  }
  
  @media only screen and (min-width: 1921px) { 
    #fixed-layer {
      background-image: url("./assets/backgrounds/contact-bkg3-large.jpg");
    } 
  }

  /* HEADER ----------------------------------------- */
  #home-link {
    background-size: 29%;
    background-position: 0% 50%;
  }
  #home-link:focus, #home-link:hover {
    background-size: 40%;
  }

  /* NAVIGATION MENU ------------------------------ */
  nav {
    width: 60%;
    left: 40%;
    border-left-width: calc(var(--wpx)/100);
    border-left-color: hsla(0, 100%, 50%, 0.7);
  }

  nav ul {
    height: 100%;
    top: 0%;
    display: flex;
    flex-direction: row;
  }

  #li1, #li2 {
    height: 100%;
  }

  nav a {
    height: 100%;
    font-size: calc(var(--wpx)/40);
    transition-duration: 1.5s, 2s;
    transition-timing-function: ease-out;
    transition-property: font-size, color;
  }

  /* MAIN -------------------------------------------------------- */
  main {
    background-size: 31.95%;
  }

  #background1 {
    background-size: 100%;
    background-position: 50% 8%;
    filter:brightness(50%);
  }

  /* PARAGRAPHS --------------------------------------------------- */
  p {
    line-height: 1.5;
    letter-spacing: calc(var(--wpx)/700);
  }

  #p1, #p2 {
    font-size: calc(var(--wpx)/35);
  }

  #p1 {
    top: 25%;
  }

  #p2 {
    top: 55%;
  }

  /* LEAF 2 ////////////////////////////////////////////// */
  img {
    width: 30%;
  }
  
  #name {
    left: 32%;
    font-size: calc(var(--wpx)/20);
  }
  
  #title {
    left: 33%;
    top: 13%;
    font-size: calc(var(--wpx)/35)
  }
  
  #contact-section {
    font-size: calc(var(--wpx)/40);
  }
  
  
  #contact-section {
    padding-left: 3%;
    top: 28%;
    height: 32%;
    width: 70%;
    left: 30%;
  }

  #finance-section, #qualifications-section {
    font-size: calc(var(--wpx)/55);
    padding-left: 2%;
    letter-spacing: calc(var(--wpx)/2000);
  }
  #finance-section {
    padding-top: 2%;
    border: none;
    border-top: calc(var(--wpx)/1000) solid white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    top: 60%;
    height: 15%;
    left: 0%;
  }

  #finance-section p {
    padding-right: 5%;
  }
  
  #qualifications-section {
    top: 75%;
    height: 25%;
  }
}