html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
  display: block;
}
a:focus {
	outline: none;
}

/* CSS TOOLS //////////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Viewport Div */
.vp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: var(--w);
  height: var(--h);
}

.abs {
  position: absolute;
}

/* CONTENT ///////////////////////////////////////////////////////// */
/* LEAF 1: HEADER ///////////////////////////////////////////////// */
/* BACKGROUNDS ------------------------------------------------------- */
@keyframes fade-in {from{opacity:0;}to{opacity:1;}}

#leaf1 {
  background-image:  
  linear-gradient(
    hsl(0, 100%, 20%),
    hsl(0, 100%, 45%) 15%,
    hsl(50, 100%, 60%) 30%,
    hsl(30, 100%, 50%) 70%,
    hsl(10, 100%, 60%)
  );
  opacity: 0;
  animation: fade-in 3s ease-in forwards;
}

#leaf1 .ur {
  background-image:  
  linear-gradient(
    hsla(0, 100%, 45%, 1),
    hsla(0, 100%, 45%, 0.5) 15%,
    hsla(0, 100%, 60%, 0.5) 30%,
    hsla(0, 100%, 60%, 0.3) 70%,
    hsla(10, 100%, 60%, 1)
  ), url("./assets/backgrounds/my-practice-bkg1-portrait-small.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
}
@media only screen and (min-width:601px) and (max-width: 1024px) {
  #leaf1 .ur {
    background-image:  
    linear-gradient(
      hsla(0, 100%, 45%, 1),
      hsla(0, 100%, 45%, 0.5) 15%,
      hsla(0, 100%, 60%, 0.5) 30%,
      hsla(0, 100%, 60%, 0.3) 70%,
      hsla(10, 100%, 60%, 1)
    ), url("./assets/backgrounds/my-practice-bkg1-portrait-medium.jpg");
  } 
}
@media only screen and (min-width:1025px) {
  #leaf1 .ur {
    background-image:  
    linear-gradient(
      hsla(0, 100%, 45%, 1),
      hsla(0, 100%, 45%, 0.5) 15%,
      hsla(0, 100%, 60%, 0.5) 30%,
      hsla(0, 100%, 60%, 0.3) 70%,
      hsla(10, 100%, 60%, 1)
    ), url("./assets/backgrounds/my-practice-bkg1-portrait-large.jpg");
  } 
}

/* SITE HEADER --------------------------------------------------- */

#header-background {
  width: 100%;
  height: 25%;
  background-image: url("./assets/backgrounds/my-practice-header-bkg-small.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fade-in 2s 3s ease-in forwards;
}
@media only screen and (min-width:601px) and (max-width: 1920px) {
  #header-background {
    background-image: url("./assets/backgrounds/my-practice-header-bkg-medium.jpg");
  }
}
@media only screen and (min-width:1921px) {
  #header-background {
    background-image: url("./assets/backgrounds/my-practice-header-bkg-large.jpg");
  }
}

#home-link {
  width: 100%;
  height: 25%;
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  opacity: 0;
  animation: fade-in 2s 3s ease-in forwards;
}

#home-link:focus, #home-link:hover {
  background-color: hsl(0, 100%, 40%);
}

h1 {
  width: 100%;
  height: 100%;
  background-image: url("./assets/logos/tara-logo-text-small.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: -20% -100%;
  transition: transform 2s ease-out;
}

#home-link:focus h1, #home-link:hover h1 {
  transform: scale(115%) translate(7%, 10%);
}

/* NAVIGATION MENU ------------------------------------------- */
nav {
  width: 35%;
  left: 65%;
  height: 25%;
  border-left: calc(var(--w)/150) solid hsla(0, 100%, 60%, 1);
  opacity: 0;
  animation: fade-in 2s 3s ease-in forwards;
}

nav ul {
  width: 100%;
  height: 100%;
}

nav li {
  width: 100%;
}

nav a {
  padding: 8%;
  font-family: "Bellota Text", cursive;
  font-size: calc(var(--w)/23);
  width: 100%;
  text-align: center;
  align-items: center;
  color: hsl(50, 100%, 75%);
  letter-spacing: calc(var(--w)/100);
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-property: color;
}

nav a:hover, nav a:focus {
  color: black;
  background-image: linear-gradient(
    90deg, 
    hsl(00, 100%, 60%), 
    hsla(0, 0%, 0%, 0) 
  );
  font-weight: 700;
}

/* PAGE HEADER --------------------------------------------------- */
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: hsl(50, 100%, 85%);
  font-size: calc(var(--w)/6.5);
  left: 6%;
  top: 50.5%;
  opacity: 0;
  animation: fade-in 2s 6s ease-in forwards;
}

/* LINES ----------------------------------------------- */
@keyframes scale-h {
  from{transform:scaleX(0);opacity:1;} 
  to{transform:scaleX(1);opacity:1;}
}

#l1-line1 {
  background-color: hsla(0, 100%, 60%, 0.2);
  width: 100%;
  top: 41%;
  height: 20%;
  transform-origin: 0% 50%;
  animation: scale-h 5s 3s ease-out forwards;
  opacity: 0;
}

#l1-line2 {
  background-color: hsla(0, 100%, 60%, 0.2);
  width: 100%;
  top: 50%;
  height: 20%;
  transform-origin: 100% 50%;
  animation: scale-h 5s 3s ease-out forwards;
  opacity: 0;
}

/* INTERNAL PAGE LINK ----------------------------------------------- */
#leaf1 .internal-page-link {
  border-radius: calc(var(--w)/30);
  border: calc(var(--w)/250) solid hsl(50, 100%, 85%);
  left: 43%;
  top: 85%;
  width: 16%;
  height: 8%;
  transition-property: border-radius, background-color, border-color;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  opacity: 0;
  animation: fade-in 2s 8s ease-in forwards;
}

#leaf1 .internal-page-link:focus-visible {
  background-color: red;
  border-radius: calc(var(--w)/100);
  border-color:hsl(50, 100%, 70%);
}

#leaf1 .internal-page-link path {
  transition-property: stroke;
  transition-timing-function: ease-out;
  transition-duration: 2s;
}

#leaf1 .internal-page-link:focus-visible path {
  stroke:hsl(50, 100%, 70%);
}

/* HOVER ANIMATIONS ------------------------------------------ */
@media (hover:hover) {

  #leaf1 .internal-page-link:hover {
    background-color: red;
    border-radius: calc(var(--w)/100);
    border-color:hsl(50, 100%, 70%);
  }

  #leaf1 .internal-page-link:hover path {
    stroke:hsl(50, 100%, 70%);
  }
}

@media only screen and (orientation: landscape) {
  /* LEAF 1: HEADER ////////////////////////////////////// */
  /* BACKGROUND ------------------------------------------- */
  #leaf1 .ur {
    background-image: 
    linear-gradient(
      hsla(0, 100%, 45%, 1),
      hsla(0, 100%, 45%, 0.5) 15%,
      hsla(0, 100%, 60%, 0.5) 30%,
      hsla(0, 100%, 60%, 0.3) 70%,
      hsla(10, 100%, 60%, 1)
    ), url("./assets/backgrounds/my-practice-bkg1-small.jpg");
    background-position: 50% 100%;
  }
  @media only screen and (min-width:601px) and (max-width:1920px) {
    #leaf1 .ur {
      background-image: 
      linear-gradient(
        hsla(0, 100%, 45%, 1),
        hsla(0, 100%, 45%, 0.5) 15%,
        hsla(0, 100%, 60%, 0.5) 30%,
        hsla(0, 100%, 60%, 0.3) 70%,
        hsla(10, 100%, 60%, 1)
      ), url("./assets/backgrounds/my-practice-bkg1-medium.jpg");
    }    
  }
  @media only screen and (min-width:1921px) {
    #leaf1 .ur {
      background-image: 
      linear-gradient(
        hsla(0, 100%, 45%, 1),
        hsla(0, 100%, 45%, 0.5) 15%,
        hsla(0, 100%, 60%, 0.5) 30%,
        hsla(0, 100%, 60%, 0.3) 70%,
        hsla(10, 100%, 60%, 1)
      ), url("./assets/backgrounds/my-practice-bkg1-large.jpg");
    }    
  }
  /* SITE HEADER -------------------------------------- */
  #header-background {
    background-size: 100%;
    background-position: 100% 40%;
  }

  h1 {
    background-position: 0% 50%;
    background-size: 35%;
  }

  #home-link:focus h1, #home-link:hover h1 {
    transform: scale(115%) translate(5%, 0%);
  }

  /* NAVIGATION MENU ---------------------------------- */
  nav {
    border-color: red;
  }
  nav a {
    position: relative;
    left: -0.2%;
    padding: 7.8%;
    font-size: calc(var(--w)/40);
  }

  /* PAGE HEADER ---------------------------------------- */
  h2 {
    font-size: calc(var(--w)/12);
    top: 46%;
    left: 25%;
    /* animation: fade-in 5s 7s ease-in forwards; */
  }

  /* LINES ------------------------------------------------ */
  #l1-line1, #l1-line2 {
    background-color: hsla(0, 100%, 50%, 0.4);
    height: 30%;
    /* animation: scale-h 11s 5s ease-out forwards; */
  }

  #l1-line1 {
    top: 33%;
  }

  #l1-line2 {
    top: 44%;
  }

  /* INTERNAL PAGE LINK --------------------------------- */
  #leaf1 .internal-page-link {
    border-radius: calc(var(--w)/100);
    border-width: calc(var(--w)/500);
    left: 47%;
    top: 82%;
    width: 6%;
    height: 8%;
    /* animation: fade-in 2s 13s ease-in forwards; */
  }

  .internal-page-link:hover, .internal-page-link:focus {
    border-radius: 0;
    background-color: hsl(220, 100%, 20%);
  } 
}