html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
  display: block;
}
a:focus {
	outline: none;
}

/* CSS TOOLS //////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#gutter1, #gutter2 {
  position: absolute;
  width: var(--gw);
  height: var(--gh);
}

#gutter1 {
  left: 0;
  top: 0;
}

#gutter2 {
  right: 0;
  bottom: 0;
}

.vp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: absolute;
  width: var(--w);
  height: var(--h);
}

.abs {
  position: absolute;
}

/* CONTENT /////////////////////////////////////////////////// */
/* GENERAL --------------------------------------------------- */
.vp {
  /* background-image: linear-gradient(
    hsla(50, 100%, 50%, 0.5),
    hsla(50, 100%, 50%, 0.5) 20%,
    hsla(200, 100%, 90%, 1) 30%,
    transparent 31%,
    transparent 69%,
    hsla(200, 100%, 90%, 1) 70%,
    hsla(50, 100%, 50%, 0.5) 80%,    
    hsla(50, 100%, 50%, 0.5) 100%    
  ); */
}

/* GUTTERS -------------------------------------------------- */
#gutter1 {
  background-image: linear-gradient(
    hsl(51, 100%, 50%),
    hsl(40, 100%, 3%) 
  );
}

#gutter2 {
  background-image: linear-gradient(
    hsl(250, 100%, 5%) 30%, 
    hsl(40, 100%, 50%)
  );
  animation: fade-in 8s ease-in forwards;
}

@keyframes fade-in-blur {
  0% {
    opacity:0;
    filter: blur(50px);
  } 100% {
    opacity:1;
    filter: blur(0px);
  }
}

.ur {
  /* opacity: 0;
  animation: fade-in-blur 6s 3s ease-in forwards; */
}

/* LOGO SPLASH ---------------------------------------------- */
@keyframes fade-in-out {
  0% {
    opacity:0;
  } 
  50% {
    opacity:1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    gold 5%,
    transparent 25%,
    transparent 75%,
    gold 95%
  );
  opacity: 0;
  /* animation: fade-in-out 9s ease-out forwards; */
  pointer-events: none;
}

#logo img {
  width: 100%;
  object-fit: contain;
}

/* HEADER -------------------------------------------------------- */
header {
  width: 100%;
  height: 30%;
}

#header-background {
  width: 100%;
  height: 100%;
  background-image: url("./assets/backgrounds/home-header-background-small.jpg");
  background-size: 100%;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  filter: contrast(50%);
  z-index: -1;
}

h1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 img {
  object-fit: cover;
  width: 120%;
  height: 100%;
  position: absolute;
  left: -8%;
}

/* PROFILE PIC --------------------------------------------------- */
#profile-pic-container {
  border-top: calc(var(--w)/50) solid hsl(50, 80%, 40%);
  border-bottom: calc(var(--w)/50) solid hsl(50, 80%, 40%);
  top: 30%;
  background-color: black;
  height: 45%;
  width: 100%;
  overflow: hidden;
}

#profile-pic {
  object-fit: contain;
  width: 90%;
  left: 5%;
}

#profile-pic-blurb {
  font-size: calc(var(--w)/20);
  font-family: "Josefin Slab", serif;
  color: hsl(50, 100%, 95%);
  top: 82%;
  left: 18%;
  font-style: italic;
  font-weight: 300;
}

/* NAVIGATION MENU -------------------------------------------------- */
nav {
  width: 100%;
  height: 26%;
  top: 74%;
  background-color: hsl(250, 100%, 5%);
}

nav ul {
  font-family: "Bellota Text", cursive;
  font-size: calc(var(--w)/23);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: hsl(50, 100%, 80%);
  letter-spacing: calc(var(--w)/100);
}

nav a {
  transition-property: transform, color;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}

nav a:focus {
  transform: scale(120%);
  color: magenta;
}

/* HOVER ANIMATIONS ------------------------------------------------ */
@media (hover:hover) {
  nav a:hover {
    transform: scale(120%);
    color: magenta;
  }
}

@media only screen and (orientation: landscape) {
  /* GENERAL -------------------------------------------------------- */
  .vp {
    background-image: none;
  }
  .ur {
    animation: fade-in-blur 9s 3s ease-out forwards;
  }
}